{% extends "purchase/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>New Purchase</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>
                  <div class="form-group">
                    <label for="price">Price in GH₵</label>
                    <input type="number" name="price" class="form-control" id="price" required>
                </div>

                <button type="submit" class="btn btn-primary">Pay</button>
            </form>

        </div>
    </div>




{% endblock %}